@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif

}
html{
    scroll-behavior: smooth;
}
    body {
        font-family: 'Poppins', sans-serif;
        font-size: 125%;
        background: #f7f7f7;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: #333;
        position: relative;
    }
  

.navbar{
    position: fixed;
    background:rgb(23, 123, 160);
    height: 100%;
    width: 90px;
    transition: 0.5s;
    overflow: hidden;
    
}
.navbar ul li  :hover{
    background-color:rgb(57, 190, 243);
    border-radius: 2rem;
   
    
}
.logo{
    text-align: center;
    padding: 30px 15px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight:lighter;
    color: white;
   
    border-radius: 0 0 100% 90%;
    background-color:rgb(57, 190, 243);;
    span{
        color: rgb(23, 123, 160);
    }
}

.navbar:hover{
    width: 220px;
}
.navbar ul{
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    margin-top: 10rem;
    
}
.navbar ul li {
    position: relative;
    width: 100%;
    list-style: none;

}

.navbar ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color:#fff
}
.navbar ul li a .icon{
    align-items: center;
    position: relative;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-left: 1.2rem;
}
.navbar ul li a .icon .fa{
    font-size: 24px;
}
.navbar ul li a .icon .lni{
    font-size: 24px;
}
.navbar ul li a .icon .fas {
    font-size: 24px;
}
.navbar ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
    letter-spacing: 2px;
}



//Header section css code
.outerWrapper {
    width: 100%;
    margin-left: 0;
}
.innerWrapper {
    padding: 0 33px;
    max-width: 1140px;
    margin: 0 auto;
}
.header{
    display: flex;
    height: 100vh;
    min-height: 500px;
}

.heroimg{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    position: relative;
    padding:0 15px;
    
   img{
    clip-path: circle();
    width: 300px;
  margin-left: 16rem;
  margin-top: 8rem;
    border:0;
    vertical-align: middle;
    border-radius: 50%;   
    width: 350px;  
}
}

.herodescription{
    width: 100%;
    padding :0 15px;
    text-align: center; 
    margin-top: 12rem;
    //margin-right: 12rem;
    

   
}
.hello{
    letter-spacing: 1px;
    font-size: 1rem;
    line-height: 1.2;
  text-align: left;
   
    
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
}
.herodescription h1{
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin: 24px 0;
    text-align: left;
    display: block;
    font-size: 2em;
    span{
        color:rgb(3, 24, 32);
    }
}
.bio{
    letter-spacing: 1px;
    color: #5F6F81;
    font-size: 1.1rem;
 
    min-width: 300px;
    max-width: 500px;
    line-height: 1.4;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    
    span{
        color:rgb(23, 123, 160);
    }
 p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
}

.resume  {
    display: flex;
    margin-top: 30px;
    text-decoration: none; 
}
.resume a:hover{
    box-shadow:1px 8px 12px rgba(19, 154, 163, 0.25);
}

.social-icon li{
   display:inline-block;
   padding: 5px;
   align-items:left;
   margin-top: 5px; 
   margin-left: 5px;
   icon{
    :hover{
        box-shadow:1px 8px 12px rgba(19, 154, 163, 0.25);
    }
   }
 


}
.link{
 
    text-decoration: none;
    padding: 10px 25px;
    margin-top: 14px;
}


.resume .link {
    background-color: rgb(23, 123, 160);
    color:white;
   // padding: 15px 30px;
    border-radius: 35px;
    letter-spacing: 2px;
    font-size: 0.9rem;
    font-weight: 300;
    display: inline-block;
    width: 110px;
    height: 42px
  
}
 

.social-icon li a{
    padding: 10px 14px;
    background-color: white;
    border-radius: 6px;
    color: rgb(23, 123, 160);
    border: 1px solid #eee;
    display: inline-block;
    margin-left: 40px;
    margin-right: -2rem;
    border-radius: 2rem;
    align-items: left;
    text-align: left; 
    text-decoration: none;
    
  
}
.social-icon li {
    :hover{
        box-shadow:1px 8px 12px rgba(3, 24, 32,0.75);
    }
}



   
//About section head

section{
    padding: 80px 200px;
    display: block;
}
.sectionHead {
    margin-bottom: 50px;
}
.sectionHead span {
    padding-bottom: 20px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    position: relative;
    padding-left: 80px;
    letter-spacing: 1px;
}
.sectionHead span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 50px;
    height: 1px;
    background: #333;
}
.sectionHead h2 {
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.6rem;
}
.aboutSection{
    height: 100%;
}
.education{
    margin-bottom: 2px;
    margin-top: 0;
    margin-top: -6rem;
}
.education  h2 {
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.6rem;
    text-transform: uppercase;
    position: relative;
    padding: 0 0 0 15px;
    line-height: 1;
    border-left: 1px solid #eee;
    letter-spacing: 2px;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 0;
}
.education h2:before {
    background: #3586e8;
    
        content: '';
        width: 2px;
        height: 35px;
        position: absolute;
        left: -1px;
        bottom: 0;
    
}
.sectionContainer {
    background-color: white;
    border-radius: 50px;
    padding: 48px;
    margin-left: 5rem;
}

.aboutContainer p {
    line-height: 1.5;
    letter-spacing: 1px;
    color: black;
    font-size: 1.1rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}
article{
    display: block;
}

.edu-wrapper{
    background-color: white;
    border-radius: 50px;
    margin-left: 14rem;
    margin-right: 8rem;
    padding: 2rem;
    margin-top: -5rem;
    
    
    
    
}
.edu-wrapper {
    display: flex;
    justify-content: flex-end;
    .row-2{
        margin-top: 12rem;
        margin-left: 1rem;
    }
}
.centreline{
    height: 15%;
    width: 2px;
    position:absolute;
    background:#177ba0;
    left: 50%;
    img{
        width: 100px;
        height: 70px;
        display: flex;
        justify-content: right;
        align-items: right;
        left: 50%;
    }

}
.edu-wrapper .centreline .row .icon{
background:blue;
position: absolute;
height: 40px;
width: 40px;
line-height: 40px;
text-align: center;
border-radius: 50%;
color:rgb(23, 123, 160);
right: 1px;

}
.edu-wrapper .title{
    color: #177ba0;
}
.edu-wrapper p{
    letter-spacing: 1px;
    color: #5F6F81;
    font-size: 1.1rem;
    min-width: 300px;
    max-width: 500px;
    line-height: 1.4;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}
//Skill section///
.skillsContainer {
    text-align: center;
    font-size: 0.7rem;
}
.sectionContainer {
    background-color: white;
    border-radius: 50px;
    padding: 48px;
}
.skillsGrid {
    //display: -ms-grid;
    display: grid;
   // -ms-grid-columns: (minmax(80px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}
.skillsGrid li {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    width: 80px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    //-webkit-box-shadow: 0px 4px 8px rgb(134 151 168 / 10%);
   // box-shadow: 0px 4px 8px rgb(134 151 168 / 10%);
    border: 1px solid #eee;
}
.skillsGrid li{
    list-style: none;
}
.skillsGrid li img {
    width: 35px;
    height: 35px;
}

